// DEFAULTS
$white: #fff;
$black: #000;
$t-1: all 0.3s ease-out;

// SITE
$brand-1: #9c9e4b;
$brand-2: #446b34;

$gray: #555555;
$yellow: #ffbd4f;
$red: #c90000;
$beige: #f1f0eb;

$c-1: #1a3447;
$c-2: #7f8d98;
$c-3: #f1f0eb;
// ------------------OTHERS------------------
$c-4: #1a1a1a;
$c-5: #e9e6de;
$c-6: #eaeaea;

$t-2: 0.25s ease-in-out;

$primary-color: #00853F;
